@import "../utils/mixins";
@import "../utils/variables";

.entry {
  margin: 2rem;
  width: 90%;
  max-width: 1120px;
  margin: auto;

  &__name {
    font-size: 3rem;
    padding: 1rem 0;
  }

  &__rating {
    font-size: 2rem;
    padding: 0.5rem;
    position: relative;
    display: flex;
    width: fit-content;
    align-items: center;

    & i {
      color: $color-primary;
      padding: 0.5rem;
    }
  }
}

.img {
  height: 100%;

  &-div {
    overflow: hidden;
    display: flex;
    justify-content: center;
  }

  &-display {
    width: 100%;
    height: 45rem;
    border-radius: 15px;
    position: relative;
    transform: translate(-50%);
    overflow: hidden;
    display: grid;
    gap: 0.8rem;
    grid-template-columns: repeat(
      auto-fit,
      minmax(20%, 1fr)
    );
    transition: transform 0.4s ease-in-out;

    @include max-media(970px) {
      height: 350px;
    }
  }
}

.main-img {
  grid-row: span 2 / auto;
  grid-column: span 2 / auto;
}

.information {
  font-size: 1.6rem;
}

.img-nav-wrapper {
  position: relative;
}

.next-btn,
.prev-btn {
  position: absolute;
  z-index: 3;
  background: transparent;
  color: white;
  border: 0;
  height: 100%;
  display: none;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  padding: 2.5rem;

  &:hover {
    color: $color-primary;
    transition: color 0.3s ease-in-out;
  }
}

.counter {
  display: none;
}

.prev-btn {
  left: 0;
}

.next-btn {
  right: 0;
}

.intro-desc {
  font-size: 2rem;
  margin: 1rem 0;
}

.bulletpoints {
  width: 40%;
  max-width: 350px;
  background: rgb(160, 158, 158);
  height: fit-content;
  @include box-shadow;

  &__title {
    font-size: 2.5rem;
  }

  &__point {
    font-size: 1.4rem;
  }
}

.descriptions {
  width: 58%;
}

.bulletpoints ul {
  padding: 25px;
}

.price {
  float: right;
  color: $color-primary;
  font-weight: 600;
  font-size: 2rem;
  padding: 1.5rem;
}

.bulletpoints h2 {
  text-align: center;
}

.info-section {
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.book {
  display: flex;
  justify-content: space-around;
}

.book-now {
  border-radius: 20px;
  border: 1px solid lightgrey;
  color: $color-white;
  background: $color-primary;
  font-size: 2rem;
  font-weight: 600;
  padding: 1.5rem 2.5rem;
  @include box-shadow;
  margin-top: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
  border: 0.4rem solid transparent;

  &:hover {
    transform: scale(1.05);
    box-shadow: 0 2rem 3rem
      rgba($color-black, 0.3);
    border: 0.4rem solid
      darken($color-primary, 20%);
  }
}

@media (max-width: 750px) {
  .img-display {
    width: 100%;
    gap: 0;
    border-radius: 0;
    overflow: visible;
    height: fit-content;
    display: flex;
  }

  .next-btn,
  .prev-btn,
  .counter {
    display: block;
  }

  .img {
    width: 100vw;
  }

  .img-div {
    width: fit-content;
    overflow: visible;
  }

  .entry__title--container {
    width: 90%;
    margin: auto;
  }

  .entry {
    width: 100%;
    overflow: hidden;
  }

  .info-section {
    width: 90%;
  }
}

@media (min-width: 751px) {
  .img-display {
    transition: none;
    transform: translate(0%) !important;
  }
}

@media (max-width: 600px) {
  .descriptions {
    width: 100%;
  }

  .bulletpoints {
    width: 100%;
    margin: 15px auto;
  }

  .info-section {
    flex-direction: column;
  }
}
